.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #0E0E0E;
  }
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin-left: 160px;
    margin-right: 160px;
  }
  

  /* navigation-part */

.navigation{
    display: flex;
    justify-content: space-between;
    margin:0 160px 50px 160px;
    
}
.sign-in{
    color: #006A50;
    border-radius: 8px;
    border-color: #006A50;
    border-width: 1px;
    padding: 15px 30px;
    margin-top: 30px;
}
.first-page{
    margin:;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 160px 50px 160px;
    
    
}
.first-line{
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 3px;
    font-size: 24px;
    
}
.contents{
    padding: 117px 130px 117px 100px;
    
}
.bold-contents{
    font-size: 56px;
    margin-top: 10px;
}
.btn-explore{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #006A50 ;
    border-radius: 8px;
    padding: 17px 34px;
    border-style: none;
}
.pic{
    width: 474px;
    height: 400px;
}

/* second-page */
.h1-font{
    font-size: 40px;
    margin:0 160px 50px 160px;
}
.piller-of-Bangladesh{
    margin:0 160px 50px 160px;
    display: flex;
    flex-basis: 100%;
    gap: 24px;
   
}
.piller-of-Bangladesh > * {
    flex: 1;
}
.pillers{
    width: 302px;
    height: 244px;
}

.box{
    padding: 32px;
    background-color: #F1f1f3;
    border-radius: 16px;
}
.h5-font{
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 0;
}
p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.p2{
    margin:0px 160px 50px 160px;
    
}
.box-2{
    padding: 32px;
    border-radius: 16px;
    gap: 30px;
    width: 410.67px;
    height: 325px;
}
.box1{
    background-color:rgba(84, 144, 245, 0.2) ;
}
.box2{
    background-color: rgba(198, 228, 214, 1);
}
.box3{
    background-color: rgba(247, 235, 207, 1);
}
.btn-learn-more{
    padding: 11px 20px;
    color: #FFFFFF;
    font-size: 15px;
    width: 122px;
    height: 41px;
    border-radius: 8px;
    border-style: none;
    margin-top: 50px;

}
.btn-1{
    background-color:#5490F5 ;
}
.btn-2{
    background-color: #09A15C ;
}
.btn-3{
    background-color: #FFC239;
}
.CA{
    color:rgba(14, 14, 14, 0.6) ;
    margin-top: 0;
}
.bg-yunus{
    background-color: #F1F1F3;
    padding: 48px 24px;
    border-radius: 16px;
    background-image:url('./assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 37px;
       
}
td{
    border: 1px solid rgba(14, 14, 14, 1);
    border-color:rgba(14, 14, 14, 0.15);
    
}
th{
    background-color:rgba(198, 228, 214, 1);
    border-color:rgba(14, 14, 14, 0.15);
}
table{
    border-collapse: collapse;
    padding: 32px;
    width: 100%;
   
    
    background-color: #F1F1F3;
    
}

.pad{
    padding: 24px 24px;
}
.th-font{
    font-size: 20px;
}
.table-border{
    border-color:  #F1F1F3;
}
.th-question{
    text-align: left;
}
.select{
    background-color: rgba(198, 228, 214, 1);
    padding: 10px 14px;
    border-radius: 4px;
}
.td-center{
    text-align: center;
}
.table-pad{
    
    background-color: #F1F1F3;
    border-radius: 16px;
    padding: 32px;
    margin: 0 160px 50px 160px;
}
.tab-pad{
    padding: 32px;
}
.td-pad{
    margin: 24px;
}
.recent-news{
    font-size: 32px;
}
.satellite{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.dates{
    display: flex;
    gap: 20px;
    font-style: none;
}
.font-16{
    font-size: 16px;
}
.btn-4{
    background-color:rgba(0, 106, 80, 1);
    margin-top: 2px;
}
.recent{
    display: flex;
    gap: 32px;
    align-items: center;
}
.back{
    background-color: #F1F1F3;
    min-width: 1280px;
    height: 402px;
    border-radius: 24px;
    padding: 48px;
}
.margin_top{
    margin-top: 0px;
}
.all-content{
    margin-bottom: 20px;
}
.donate{
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.donate-p{
    min-width: 1280px;
    height: 48px;
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 0;
}
.btn-taka{
    border-radius: 16px; 
    min-width: 240px;
    height: 128px;
    border-style: none;
}
.btn-hover:hover{
    background-color: rgba(198, 228, 214, 1);
}
.box-taka4{
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
.place-holder{
    /* min-width: 1032px; */
    width: 920px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F1F1F3;
    border:none;
}
.tk{
    font-size: 40px;
    text-align: center;
}
.place{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
    margin-left: 124px;
    margin-right: 124px;
}
.button{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 5px;
    background-color:rgba(0, 106, 80, 1) ;
}
.subscrible{

    text-align: center;
    margin-bottom:24px;
    padding: 80px 265px 80px 265px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}
.margin-subscribe{
    margin-bottom: 24px;
}
.email-box{
    width: 600px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;

}
.place-holder-padding{
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.input-subscribe{
    display: flex;
    justify-content: center;
}
.btn-subscribe{
   
    border: none;
    height:52px;
    margin-top: -1px;
    padding: 17px 34px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #FFFFFF;
    font-size: 18; 
}
.btn-subs-hover:hover{
    background-color: chocolate;
}
.btn-2nd-hover:hover{
    background-color: chocolate;
}
.btn-1st-hover:hover{
    background-color: burlywood;
}
.btn-3rd-hover:hover{
    background-color: blueviolet;
}

.note{
    text-align: center;
}


/* footer-part */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer-part{
    font-size: 32px;
    background-color: #F1f1f3;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: center;
    gap:23px;
}
hr{
    width: 1122px;
}



  